@import url(partials/nav.css);

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #f8f8f8;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100vh;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */

    }
}

object{
    margin: 0px;
    width: 100%;
}

.search {
  position: relative;
  padding-bottom: 0;
  margin-top: -12px;
}

.search input[type='search'], .search input[type='text'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: calc(100% - 60px);
  font-size: 16px;
  font-weight: 300;
  height: 30px;
  color: black;
  background-color: #ffffff;
  border: none;
  box-sizing: border-box;
  padding: 20px;
  float: left;
  border-radius: 0;
}

.search .search-icon a {
  float: left;
  width: 60px;
  height: 40px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  display: block;
  padding: 4px; }
.search .search-icon a:active {
  background-color: #008276;
}

.search .search-icon:last-of-type a {
border-radius: 0;
}

.search ::-webkit-input-placeholder {
color: rgba(255, 255, 255, 0.4);
font-style: italic; }
.search :-moz-placeholder {
color: rgba(255, 255, 255, 0.4);
font-style: italic; }
.search ::-moz-placeholder {
color: rgba(255, 255, 255, 0.4);
font-style: italic; }
.search :-ms-input-placeholder {
color: rgba(255, 255, 255, 0.4);
font-style: italic; }

/*Icons*/


i[class*='icon-'] {
  display: inline-block;
  height: 64px;
  width: 64px;
  background-size: 64px;
  background-repeat: no-repeat;
  background-position: center; }
  i[class*='icon-'].icon--text {
    margin-bottom: -12px;
    margin-top: -12px; }
  i[class*='icon-'].icon--header {
    margin-bottom: -20px; }
  i[class*='icon-'].icon--small {
    height: 32px;
    width: 32px;
    background-size: 32px; }
  i[class*='icon-'].icon--large {
    height: 128px;
    width: 128px;
    background-size: 128px; }
  i[class*='icon-'].icon--gigantic {
    height: 256px;
    width: 256px;
    background-size: 256px; }
  i[class*='icon-'].icon--margin {
    margin: 20px; }
  i[class*='icon-'].icon--center {
    margin-left: auto;
    margin-right: auto;
    display: block; }

i.icon-carrot {
  background-image: url("../drawable/carrot.svg"); }

i.icon-carrot--white {
  background-image: url("../drawable/carrot_white.svg"); }

i.icon-chees {
  background-image: url("../drawable/chees.svg"); }

i.icon-chees--white {
  background-image: url("../drawable/chees_white.svg"); }

i.icon-chicken {
  background-image: url("../drawable/chicken.svg"); }

i.icon-chicken--white {
  background-image: url("../drawable/chicken_white.svg"); }

i.icon-coldrun {
  background-image: url("../drawable/coldrun.svg"); }

i.icon-coldrun--white {
  background-image: url("../drawable/coldrun_white.svg"); }

i.icon-egg {
  background-image: url("../drawable/egg.svg"); }

i.icon-egg--white {
  background-image: url("../drawable/egg_white.svg"); }

i.icon-empty_star {
  background-image: url("../drawable/empty_star.svg"); }

i.icon-empty_star--white {
  background-image: url("../drawable/empty_star_white.svg"); }

i.icon-fish {
  background-image: url("../drawable/fish.svg"); }

i.icon-fish--white {
  background-image: url("../drawable/fish_white.svg"); }

i.icon-full_star {
  background-image: url("../drawable/full_star.svg"); }

i.icon-full_star--white {
  background-image: url("../drawable/full_star_white.svg"); }

i.icon-knife {
  background-image: url("../drawable/knife.svg"); }

i.icon-knife--white {
  background-image: url("../drawable/knife_white.svg"); }

i.icon-meat {
  background-image: url("../drawable/meat.svg"); }

i.icon-meat--white {
  background-image: url("../drawable/meat_white.svg"); }

i.icon-milk {
  background-image: url("../drawable/milk.svg"); }

i.icon-milk--white {
  background-image: url("../drawable/milk_white.svg"); }

i.icon-no_gluten {
  background-image: url("../drawable/no_gluten.svg"); }

i.icon-no_gluten--white {
  background-image: url("../drawable/no_gluten_white.svg"); }

i.icon-onion {
  background-image: url("../drawable/onion.svg"); }

i.icon-onion--white {
  background-image: url("../drawable/onion_white.svg"); }

i.icon-pan {
  background-image: url("../drawable/pan.svg"); }

i.icon-pan--white {
  background-image: url("../drawable/pan_white.svg"); }

i.icon-red_wine {
  background-image: url("../drawable/red_wine.svg"); }

i.icon-red_wine--white {
  background-image: url("../drawable/red_wine_white.svg"); }

i.icon-soup {
  background-image: url("../drawable/soup.svg"); }

i.icon-soup--white {
  background-image: url("../drawable/soup_white.svg"); }

i.icon-spatchela {
  background-image: url("../drawable/spatchela.svg"); }

i.icon-spatchela--white {
  background-image: url("../drawable/spatchela_white.svg"); }

i.icon-spice {
  background-image: url("../drawable/spice.svg"); }

i.icon-spice--white {
  background-image: url("../drawable/spice_white.svg"); }

i.icon-time {
  background-image: url("../drawable/time.svg"); }

i.icon-time--white {
  background-image: url("../drawable/time_white.svg"); }

i.icon-tomato {
  background-image: url("../drawable/tomato.svg"); }

i.icon-tomato--white {
  background-image: url("../drawable/tomato_white.svg"); }

i.icon-vegetables {
  background-image: url("../drawable/vegetables.svg"); }

i.icon-vegetables--white {
  background-image: url("../drawable/vegetables_white.svg"); }

i.icon-wheat {
  background-image: url("../drawable/wheat.svg"); }

i.icon-wheat--white {
  background-image: url("../drawable/wheat_white.svg"); }

i.icon-whip {
  background-image: url("../drawable/whip.svg"); }

i.icon-whip--white {
  background-image: url("../drawable/whip_white.svg"); }

i.icon-white_wine {
  background-image: url("../drawable/white_wine.svg"); }

i.icon-white_wine--white {
  background-image: url("../drawable/white_wine_white.svg"); }

i.icon-search {
  background-image: url("../drawable/search.svg"); }

i.icon-search--white {
  background-image: url("../drawable/search_white.svg"); }

i.icon-logo {
  background-image: url("../drawable/logo.svg"); }

i.icon-logo--white {
  background-image: url("../drawable/logo_white.svg"); }

i.icon-logo--transparent {
  background-image: url("../drawable/logo_transparent.svg"); }

/*.navbar{

    height: 80px;
    background-color: #009688;
    line-height: 80px;
    color: #f8f8f8;

}

.navbar .logo{

    background-image: url('../../drawable/logo.svg');
    background-size: 60px 60px;
    background-repeat: no-repeat;
    background-position: 20px center;
    height: 80px;
    padding-left: 100px;
    font-size: 20px
} */
